.Search {
}

.Search input {
  margin-right: 2rem;
  width: 35vw;
  padding: 0.8rem;
  border: solid 1px;
  border-radius: 0.5rem;
  border-color: lightgray;
}

.Search button {
  font-size: 1.2rem;
  cursor: pointer;
  width: 10vw;
  padding: 0.5rem;
  background-color: dodgerblue;
  border-radius: 0.5rem;
  border-style: none;
  color: white;
}

.Search button:hover {
  background-color: steelblue;
}
