.Day {
}

.Day__Name {
  text-align: center;
  margin-bottom: 0;
}

.Day canvas {
  display: block;
  margin: 1rem auto;
}

.Day span:last-of-type {
  color: grey;
}

.MinMax__Seperator {
  color: black !important;
}
