body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App {
  margin-top: 50px;
  width: 50vw;
  border-style: solid;
  border-color: gainsboro;
  padding: 2rem;
  border-radius: 0.5rem;
}

.App h1 {
  font-size: 3rem;
}

.App a {
  color: black;
}

.App a:visited {
  color: gray;
}

.App footer {
  line-height: 2rem;
  margin-top: 2rem;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}
