.Forecast {
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: azure;
}

.Forecast__Information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 2rem;
}

@media screen and (min-width: 1200px) {
  .Forecast__Information {
    width: 50%;
  }
}

.Forecast h2 {
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 0;
}

.Forecast ul {
  font-size: 1rem;
  margin-top: 3rem;
  list-style: none;
  padding: 0;
}
