.Forecast {
  margin-top: 2rem;
  border-style: solid;
  border-color: gainsboro;
  padding: 2rem;
  border-radius: 0.5rem;
}

.Forecast h2 {
  font-weight: normal;
  font-size: 2rem;
}

.Forecast button {
  cursor: pointer;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-size: 1rem;
}

.Forecast button:hover {
  color: gray;
}

.Forecast img {
  width: 80px;
}

.Forecast ul {
  line-height: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
}
